<!DOCTYPE html>
<html>
  <head>
    <title>RubyLoversShop</title>
    <script src="https://kit.fontawesome.com/ae16c2dc74.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <section class="navbar">
      <%= link_to "Ruby Shop Admin", root_path, class: "navbar-brand" %>
      <div class="navbar-elements">
        <ul class="navbar-right">
          <% if admin_user_signed_in? %>
            <li><%= link_to "Wyloguj", destroy_admin_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Zaloguj", new_admin_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </section>
    <div class='container'>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
