<% if shopping_cart.items.any?  %>
  <div class='row'>
    <div class='product-box col-12'>
      <%= form_with url: cart_path, local: true, html: { method: :patch } do |form| %>
        <% shopping_cart.items.each do |item| %>
          <%= fields_for 'items' do |f| %>
            <div class='row'>
              <div class='name col-3'><%= item.product.name %></div>
              <div class='price col-2' ><%= "#{item.product.price} zł"%></div>
              <div class='price col-3'><%= "Cena łącznie: #{item.quantity * item.product.price} zł"%></div>
              <div class='col-1'><%= f.number_field "#{item.product_id}", value: item.quantity %></div>
            </div>
          <% end %>
        <% end %>
        <div><%= form.submit 'Updejtuj' %></div>
      <% end %>
    </div>
  </div>

  <%= link_to 'Wyczyść koszyk', cart_path, method: :delete, data: {confirm: "Czy na pewno chcesz wyczyścić koszyk?"} %>

  <%= link_to 'checkout', new_order_path %>
<% end %>

<%= link_to 'Powrót', root_path %>
