<h1>Ruby Shop</h1>

<div class='search'>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :q, id: :q, placeholder: "Znajdź produkt" %>
    <%= f.button'<i class="fas fa-search"></i>'.html_safe, class: 'search_loop' %>
  <% end %>
</div>

<div class='row'>
  <% @products.each do |product| %>
    <div class='product-box col-3'>
      <div class='product'>
        <div class='name'><%= link_to product.name, product %></div>
        <div class=price><%= "#{product.price} zł"%></div>
      </div>
    </div>
  <% end %>
<div>
